@import "variables";

.portfolio{
    width: 100%;
    height: auto;
    background-image: url(./../image/bg17.png);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 120px;
    .portfolio__container{
        width: 1200px;
        height: auto;
        margin: auto;
        .portfolio__content{
            padding: 30px 0;
            text-align: center;
            text-transform: capitalize;
            h2{
                font-size: 35px;
                color: $pinkcolor;
                margin-bottom: 30px;
            }
            h1{
                font-size: 70px;
                line-height: 1.1;
                color: $h1color;
            }
        }
        .portfolio__image{
            display: grid;
            grid-template-columns: repeat(2, 1fr) 1.5fr;
            gap: 35px;
            .portfolio__items{
                position: relative;
                grid-column: 1/2;
                border-radius: 10px;
                overflow: hidden;
                transition: all .75s ease;

                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,.3);
                    opacity: 0;
                    transition: all .75s ease;
                }
                &:hover::after{
                    opacity: 1;
                }

                &::before{
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    top: 0;
                    left: -100%;
                    opacity: 0;
                    display: block;
                    @include before;
                    transform: skewX(-25deg);
                    transition: all .75s ease;

                }
                &:hover::before{
                    left: 100%;
                    opacity: 1;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                    .overplay__icon{
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        align-items: center;
                        text-align: center;
                        z-index: 100;
                        i{
                            cursor: pointer;
                            width: 60px;
                            height: 60px;
                            top: 0;
                            right: 0;
                            line-height: 60px;
                            @include maincolor;
                            border-radius: 15px;
                            font-size: 30px;
                            position: absolute;
                            opacity: 0;
                            z-index: 1000;
                            color: #fff;

                        }
                        &:hover i{
                            opacity: 1;
                            top: 30px;
                            right: 30px;
                            transition: all .75 ease;
                        }
                    }
                    .overplay__content{
                        bottom: 30px;
                        left: 30px;
                        position: absolute;
                        text-align: left;
                        z-index: 100;
                        transform: translateY(150px);
                        text-transform: capitalize;
                        // display: inline-block;
                        h3{
                            font-size: 22px;
                            color: #fff;
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 18px;
                            // color: $textcolor;
                            color: #fff;
                            opacity: .7;
                        }

                    }
                    &:hover .overplay__content{
                        transform: translateY(0px);
                    }
            }

            .portfolio__items:nth-of-type(1){
                grid-column: 1 / 3;
            }
            .portfolio__items:nth-of-type(2){
                grid-column: 3 / 4;
            }
            .portfolio__items:nth-of-type(3){
                grid-column: 1 / 2;
            }
            .portfolio__items:nth-of-type(4){
                grid-column: 2 / 3;
            }

            .portfolio__items:nth-of-type(5){
                grid-column: 1 / 3;
            }

            .portfolio__items:nth-of-type(6){
                grid-column: 3 / 4;
                grid-row: 2 / 4;
            }

        }
    }
}